* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; 
    background-color: rgb(243,240,241);
    width: 100%;
    height: 100px;
    padding-left: 200px;
}

.header_left, .header_right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0 10px;
}

.logo {
    margin: 0 10px;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.menu_nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; 
    align-items: center;
}

.menu_item {
    margin: 0 10px;
    font: normal normal 20px/20px Arial;
    cursor: pointer;
}

.login {
    margin: 0 10px;
    border-radius: 15px;
    font: normal normal 20px/20px Arial;
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
}
.login:hover {
    background-color: lightskyblue;
}

.user {
    border: 1px solid black;
    border-radius: 50%;
    background-color: orange;
    width: 30px;
    height: 30px;
    font: normal bold 20px/28px Arial;
    text-align: center;
    cursor: pointer;
}

.menu_item:hover {
    color: lightslategray;
}

.popup_sigh {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.popup_sigh_box {
    font: normal normal 20px/20px Arial;
    color: white;
    text-align: center;
}

.buttons_nav {
    width: 10%;
    margin: 10px auto;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


.red_status {
    color:red;
    font: normal normal 15px/15px Arial;
}

.green_status {
    color:green;
    font: normal normal 15px/15px Arial;
}

.button {
    margin: 10px;
    font: normal normal 20px/20px Arial;
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    width:fit-content;
}

/*home*/
.section_1 {
    background: url('./section1.png');
    width: calc(100% - 40px);
    margin: 0 auto;
    height: calc(100vh - 100px);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 80%;
}

.section_1_content {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}

.section_title {
    padding-top: 5%;
    font: normal normal 80px/90px Jura;
    font-weight: 600;
}

.section_subtitle {
    padding-top: 5%;
    font: normal normal 28px/35px Arial;
}

.section_subsubtitle {
    padding: 15px;
    font: normal normal 25px/30px Arial;
    text-align: center;
}

.section_text_small {
    padding: 5%;
    font: normal normal 15px/20px Arial;
    text-align: center;
}

.section_details_title {
    padding: 5%;
    font: normal normal 15px/30px Arial;
    color: #3A5597;
    text-align: center;
    cursor: pointer;
}

.section_details_title:hover {
    font-weight: bold;
}

.learn_button {
    background: linear-gradient(180deg, #3A5599 0%, #88BFE9 100%);
    border-radius: 10px;
    margin-top: 50px;
    padding: 15px 0;
    width: 200px; 
    font: normal normal 16px/22px Arial;
    color: white;
    text-align: center;
    cursor: pointer;
}

.section_2 {
    background: linear-gradient(89.32deg, #EEF7FB 2.21%, #FFFFFF 112.3%);
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

.section_2_content {
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
}

.section_3 {
    padding: 0px 200px;
}
.section_3_content {
    background: url('./section3.png');
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: 10%;
    background-position-y: 50%;
    padding: 15% 5% 0% 50%;
}

.section_2_title {
    width: 100%;
    font: italic normal 40px/50px Jura;
    font-weight: 600;
    text-align: center;
}
.section_2_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section_2_item {
    margin: 10px 25px;
    width: 25%;
    height: calc(50vh - 65px);
    /* border: 1px solid red; */
    background: #FFFFFF;
    box-shadow: 4px 4px 40px 2px #D7ECF5;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.galka {
    margin-top: 10px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #EEF7FB;
    font: italic bold 40px/90px Jura;
    color:#3A5597;
    text-align: center;
}

.section_4_item {
    margin: 10px 25px;
    width: 25%;
    height: calc(85vh - 65px);
    /* border: 1px solid red; */
    background: #FFFFFF;
    box-shadow: 4px 4px 40px 2px #D7ECF5;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items:  center;
}
.expert_photo {
    border: 1px solid red;
    border-radius: 15px;
    height: 50%;
    width:80%;
    margin-top: 10px;
    font: normal normal 30px/30px Arial;
    text-align: center;   
}

.current_expert_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.current_expert_photo {
    border: 1px solid red;
    border-radius: 15px;
    height: 300px;
    width: 250px;
    margin-top: 10px;
    font: normal normal 30px/30px Arial;
    text-align: center;   
}

.disease_case {
    margin: 10px auto;
    border-radius: 15px;
    width: 50%;
    font: normal normal 30px/30px Arial;
    /* text-align: center; */
    cursor: pointer;
}

/**/


.news_list {
    display: flex;
    flex-direction: column;
}

.news_list_item {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(150, 148, 148);
    margin: 5px 20px;
    padding: 5px 15px;
}

.news_title {
    font: normal bold 25px/30px Arial;
    color:blue;
    cursor: pointer;
}

.news_subtext {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news_tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tag {
    border: 1px solid grey;
    margin: 0px 5px;
    font: normal normal 15px/15px Arial;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.current_news, .current_topic {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto;
}

.news_subtext_full {
    margin-top: 20px;
    white-space: wrap;
    font: normal normal 20px/25px Arial;
}

.reaction {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 120px;
}

.count {
    font: normal normal 32px/32px Arial;
}

.comments_title {
    font: normal normal 30px/30px Arial; 
    margin: 10px 0px;
    border-top: 2px solid black;
}

.your_comment {
    margin: 10px auto;
    width: 90vw;
    height: 100px;
    font: normal normal 20px/20px Arial;
}

.comments_list_item {
    border: 1px solid grey;
    margin: 10px 0px;
}

.create_news_page {
    display:flex;
    flex-direction: column;
    width: 80%;
    margin: 10px auto;
}

.your_news {
    margin: 10px 0px;
    padding: 5px;
}

.calendar_box {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    width: 100vw;
    padding: 10px 0px;
    /* background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); */
    ;
}

.calendar_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.calendar_buttons_big {
    height: calc(100vh - 100px);
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.calendar_background_dark {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(./calendar.jpg);
    background-size: cover; 
    background-position: center;
}
.calendar_background_light {
    background: linear-gradient( rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) ), url(./calendar.jpg);
    background-size: cover; 
    background-position: center;
}

.calendar_filters {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 50%;
    margin: 10px auto 0px;
}

.calendar_filters_item {
    text-align: center;
    width: 25%;
    height: fit-content;
}

.calendar_data {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: 30px 0px;
}

.calendar {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px 0px;
    font: normal normal 20px/25px Arial;
    text-align: center;
}

.year {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: red;
    padding: 10px;
}

.month {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: pink;
    padding: 10px;
}

.casual_row td {
    border: 1px solid grey;
    height: 30px;
}

.plans {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 10px 0px;
    font: normal normal 18px/20px Arial;
    text-align:start;
} 

.plans_date {
    font: normal normal 20px/25px Arial;
    text-align: center;
    background-color: red;
    padding: 10px;
}



.analyzers_box, .analyzers_area_box {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.analyzers {
    margin: 20px auto;
    text-align: center;
    font: normal bold 30px/30px Arial;
    padding: 35px 0px;
    width: 40%;
    height: 100px;
    border: 1px solid brown;
    border-radius: 10px;
    cursor: pointer;
} 

.analyzers:hover {
    background-color: lightskyblue ;
}

.superbutton {
    border: 1px solid green;
    border-radius: 15px;
    width: 15%;
    height: 100px;
    background-color: rgb(247, 249, 250);

}


.buttons {
    cursor: pointer;
}

.button:hover {
    background-color: lightskyblue;
}

.section_2_card {
    position: relative;
    margin: 10px 25px;
    width: 25%;
    height: calc(50vh - 65px);
    /* border: 1px solid red; */
    background: #FFFFFF;
    box-shadow: 4px 4px 40px 2px #D7ECF5;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.card_2_front{
    z-index: 1;
    position: relative;
    background-color: rgb(219, 237, 247);
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    transition: transform 1s cubic-bezier(.2,.85,.4,1.275);
    width: 100%;
    height: calc(50vh - 65px);
    background: #FFFFFF;
    box-shadow: 4px 4px 40px 2px #D7ECF5;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.card_2_back{
    border-radius: 15px;
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    background-color: rgb(188, 225, 245);
    transform: rotateY(-180deg);
    transition: transform 1s cubic-bezier(.2,.85,.4,1.275);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font: normal normal 15px/20px Arial;
    cursor: pointer;
}


.card {
    position: relative;
    border: 1px solid green;
    border-radius: 15px;
    width: 20%;
    height: 90px;
    background-color: rgb(247, 249, 250);
    font: normal bold 20px/20px Arial;
    text-align: center;
    cursor: pointer;
}
.card__front{
    border-radius: 15px;
    width: 100%;
    z-index: 1;
    position: relative;
    background-color: rgb(219, 237, 247);
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    transition: transform 1s cubic-bezier(.2,.85,.4,1.275);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__back{
    border-radius: 15px;
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    background-color: rgb(188, 225, 245);
    transform: rotateY(-180deg);
    transition: transform 1s cubic-bezier(.2,.85,.4,1.275);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font: normal normal 15px/20px Arial;
}
.card:hover .card__back, .section_2_card:hover .card_2_back  {
    transform: rotateY(0deg);
    z-index: 2;
}

.doctor1 {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeBm2l6HcD8qu1y8blVRrVJSP23YpiUSrN7A&usqp=CAU');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.doctor2 {
    background: url('https://flyclipart.com/thumb2/advise-bubble-chat-communication-discussion-doctor-message-icon-708242.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.doctor3 {
    background: url('https://cdn4.vectorstock.com/i/1000x1000/16/78/doctor-calendar-flat-round-icon-with-long-shadow-vector-7491678.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.doctor4 {
    background: url('https://thumbs.dreamstime.com/b/print-137772631.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.doctor5 {
    background: url('https://media.istockphoto.com/id/1137061288/vector/doctor-search-icon.jpg?s=612x612&w=0&k=20&c=eOqL2-7CGYFf50xIlUGPkL7LaAC52Zdbv-1XEJmUz30=');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.doctor6 {
    background: url('https://uploads.turbologo.com/uploads/design/hq_preview_image/4171016/draw_svg20210507-22909-15vu417.svg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.details {
    font: normal bold 15px/20px Arial;
    border-bottom: 1px solid black;
}

.card:hover .card__front, .section_2_card:hover .card_2_front {
    transform: rotateY(180deg);
    z-index: -1;
}

.selected_card {
    border: 3px solid red;
}

.all_events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgb(61, 135, 219);
    border-radius: 15px;
    padding: 5px;
    margin: 15px;
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url('https://stavropol.myguru.ru/img/cke/mat-krs-40.jpg.jpg');
    background-size: cover; 
    background-position: center;
    width: 30%;
    cursor: pointer;
}

.event_item_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font: normal bold 20px/20px Arial;
    padding: 0px 10px;
}

.event_item_title {
    font: normal bold 18px/20px Arial;
    text-align: center;
    margin: 10px 0px;
}

.event_item_type, .event_item_category, .event_item_location, .event_item_time {
    font: normal normal 15px/20px Arial;
}


.questions_box {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    width: 100vw;
    padding: 10px 0px;
}
.questions_bkg {
    background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) ), url('https://mypromed.ru/images/p593128v1920x1080s0.jpg');
    background-size: cover; 
    background-position: center;
}

.forum_section {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(150, 148, 148);
    margin: 5px 20px;
    
}

.forum_header {
    font: normal bold 20px/20px Arial;
    text-align: center;
    background-color:azure;
}

.cases_box {
    width: 90vw;
    margin: 10px auto;
}
.icd_title {
    font: normal normal 20px/25px Arial;
    margin: 5px;
    cursor: pointer;
}







.active {
    font: normal bold 20px/20px Arial;
    color: darkgreen;
}

.url {
    color: rgb(8, 49, 63);
    text-decoration: underline;
    cursor: pointer;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.bold {
    font-weight: bold;
}

.hide {
    display: none;
}

.clickable {
    cursor: pointer;
}

.centered {
    margin: 0px auto;
}

.disabled {
    pointer-events: none;
}

.eventable {
    content: "*";
    background-color: rgb(81, 226, 125);
}